* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white: #fff;
  --light-color: #f5f6fa;
  --light-gray: #858383;
  --dark-gray: #353b48;
  --primary-color: #28180b;
  --secondary-color: #fbf2df;
  --accent
}


/* Navbar Start */


nav {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  align-items: center;
  height: 9vh;
  width: 100%;
  position: fixed;
  z-index: 1000;
}

/* Mobile Navbar Start */

.menu-icon {
  display: none;
  color: #ddd;

}


.menu {
  background-color: var(--white);
  display: none;
  height: 10vh;
  position: fixed;
  top: 104px;
  width: 100%;
  height: 45vh;
  z-index: 1000;
}

.menu ul {
  list-style: none;
}

.menu li {
  padding-top: 5px;
  color: #ddd;
  font-weight: 350;
  font-size: 17px;
}

.menu a {
  text-decoration: none;
  color: #ddd;
  font-size: 17px;
  font-weight: 350;
}

.drop-mobile-shop {
  display: none;
}


.login-menu {
    display: none;
    position: fixed;
    background-color: var(--primary-color);
    height: 10vh;
    width: 100px;
    top: 112px;
    right: -500px;
    z-index: 1000;
}


.login-menu li {
  list-style: none;
  text-align: center;
  margin-top: 8px;
}

.login-menu li a {
  text-decoration: none;
  color: white;
}




/* Mobile Navbar End */

nav .nav-text {
  all: unset;
  list-style: none !important;
  display: flex !important;
}

nav ul li {
  margin-right: 20px;
}

nav .signin-icon i {
  margin-inline-end: 15px;
  color: white;
}


nav ul li a {
  text-decoration: none;
  font-weight: 320;
  font-size: 16px;
  color: white;
  transition: all 0.2s;
  user-select: none;
}

nav ul li a:hover {
  color: #fbf2df;
  transition: all 0.2s;
}

.logo h3{
    user-select: none;
    pointer-events: none;
    margin-top: 15px;
    color: #f1e1cd;
    font-size: 25px;
    font-weight: 350;
    word-spacing: -5px;
}

.logo h3 span {
    font-size: 34px;
    font-weight: 330;
}

.logo a {
    text-decoration: none;
}

#drop-brand,
#drop-category {
  display: none;
  position: fixed;
  top: 47px;
  width: 100%;
  height: 40vh;
  background-color: var(--primary-color);
  color: white;
  user-select: none;
}

#drop-signin {
  display: none;
  position: fixed;
  width: 95px;
  top: 47px;
  height: 75px;
  right: 170px;
  background-color: var(--primary-color);
  color: white;
}

#drop-signin li {
  list-style: none;
  text-align: center;
  margin-top: 6px;
}
#drop-signin li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 320;
}

.top-brands {
  display: flex;
  margin: 40px 0 0 144px;
}

.top-brands li {
  list-style: none;
  padding-top: 2px;
}


.top-brands li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 320;
}

.top-brands h6 a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 430;
}

.about-section {
  margin-top: 9vh; /* or the exact height of your navbar */
}

/* Navbar End */



.export-page-logo {
  width: 100%;
  height: 80px;
  background-color: var(--color-export-page);
}

.brands-marquee {
  background-color: var(--light-color);
  padding: 20px 0;
  overflow: hidden;
  margin-bottom: 6git 0px;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-content {
  display: flex;
  animation: marquee 20s linear infinite;
}

.marquee-content span {
  white-space: nowrap;
  margin: 0 40px;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--dark-gray);
  opacity: 0.7;
}


@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}
.export-inquries-main-pic img {
  width: 70%;
}
.export-inquries-main-heading h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;
}
.export-inquries-main-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 5px;
}

.export-inquries-main-heading p {
  font-size: clamp(1rem, 4vw, 1rem);
  width: 60%;
}
.export-main-btn button {
  width: 120px;
  height: 40px;
  background-color: #ebac25;
  color: #fbf2df;
  border-radius: 30px;
  border: none;
  outline: none;
}

.export-main-btn button:hover {
   background-color: #f3b93e;
  color: var(--color-secondary);
  transform: scale(1.05);
  box-shadow: 0 4px 16px rgba(0,0,0,0.12);
  transition: 
    background-color 0.3s,
    color 0.3s,
    transform 0.2s,
    box-shadow 0.3s;
}

/* section 2 */

.export-i-img-2 img {
  border-radius: 10px;
}

.export-i-img-2 {
  display: grid;
  place-items: center;
}
.export-play-btn-box {
  display: flex;
  justify-content: end;
  align-items: end;
  width: 85%;
  margin-right: 3px;
}

.export-play-btn {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #c3831a;
  margin-top: -82px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.export-play-btn i {
  font-size: 40px;
  color: whitesmoke;
}

.export-section-2 h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  width: 55%;
  text-align: center;
  padding: 8px;
}
.export-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.export-i-img-2 img {
  width: 85%;
}
.export-img-text-heading-2 {
  width: 85%;
}
.export-img-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.export-img-text p {
  width: 60%;
}

.export-img-text-heading-2 h3 {
  width: 35%;
}

.count-export {
  display: flex;
  width: 85%;
  justify-content: center;
  justify-content: space-around;
  background-color: rgb(229, 229, 229);
  border-radius: 10px;
  flex-wrap: wrap;
}

.count-export-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  width: 200px;
  height: 160px;
}

.count-export-box h1 {
  font-size: 30px;
}

.count-export-box h4 {
  font-size: 20px;
}

/* service-section */


.export-service-heading h1 {
  text-transform: capitalize;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  width: 60%;
}
.export-service-imgs {
  display: flex;
  width: 85%;
  flex-wrap: wrap;


}
.e-i-pic1 {
  border-radius: 10px 0 0 10px;
}
.e-i-pic2 {
  border-radius: 0 10px 10px 0;
}

.export-service-imgs-box{
  width: 357px;
}
.export-service-imgs-box img{
  width: 100%;
}



.export-service-imgs-box-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;

}

.export-service-imgs-box p{
  padding: 10px;
}

.export-service-imgs-box-text h5{
  text-transform: capitalize;
}

.export-service-imgs-box-text span {
  font-size: 17px;
}


/* Footer Start */

.footer {
    background-color: var(--primary-color);
    color: #fff;
    padding: 40px 0 20px;
    width: 100%;
    margin-top: 40px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    padding: 0 20px;
}

.footer-column {
    flex: 1 1 100px;
    margin:20px;
    padding: 0 20px;
}


.footer-column h3 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 20px;
}

.footer-column p {
    margin: 5px 0;
    color: #ddd;
    font-size: 13px;
    font-weight: 300;
}

.footer li {
  list-style: none;
}

.footer-column a {
  text-decoration: none;
    margin: 5px 0;
    color: #ddd;
    font-size: 13px;
    font-weight: 300;
}


.social-icons i {
    font-size: 20px;
    margin-right: 14px;
    color: white;
    cursor: pointer;
    transition: 0.3s ease;
}

.social-icons i:hover {
    color: rgb(161, 140, 140);
}

.footer-bottom {
    border-top: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.footer-bottom p {
    color: #ccc;
    margin: 0;
    font-size: 14px;
    font-weight: 300;
  color: #fff;
  padding: 40px 0 20px;
  width: 100%;
}


.footer-column {
  flex: 1 1 180px;
}


.footer-column h3 {
  margin-bottom: 10px;
  color: #fff;
}

.footer-column p {
  margin: 5px 0;
  color: #ddd;
}


.footer-bottom {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 10px auto 0;
  padding: 10px;
}

.footer-bottom p {
  color: #ccc;
  margin: 0;
}

.payment-icons img {
  width: 30px;
  margin-left: 10px;
}

/* Footer End */


@media screen and (max-width: 769px) {
  .export-section-2 h1 {
    width: 100%;
  }
  
  .export-play-btn i {
    font-size: 20px;
    color: whitesmoke;
  }
  
  .export-play-btn {
    width: 40px;
    height: 40px;
  }
  .export-img-text-heading-2 h3 {
    width: 100%;
  }
  .export-img-text-heading-2 p {
    width: 100%;
  }
  .export-service-imgs-box{
  width: 250px;
}
  .count-export {
    width: 100%;
  }
  .count-export-box {
    width: 200px;
  }
  
  .count-export-box h1 {
    font-size: 22px;
  }
  .count-export-box h4 {
    font-size: 20px;
  }
  .export-service-heading h1 {
    width: 90%;
  }
  .export-service-imgs {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 426px) {
  .export-inquries-main-pic img{
    width: 90%;
  }
  
  .export-inquries-main-heading p {
    width: 100%;
  }

  .count-export-box h1 {
    font-size: 30px;
  }
  .count-export {
    border-radius: 0;
  }
  .export-service-imgs {
  flex-wrap: wrap;
}
.export-service-imgs-box img {
  border-radius: 10px;
}
}
